--find-links https://data.pyg.org/whl/torch-2.10.0+cu128.html
torch==2.10.0
torch-scatter==2.1.2
torch-sparse==0.6.18
GraphRicciCurvature==0.5.3.2
matplotlib==3.10.8
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
torch==2.10.0
torch-geometric==2.7.0
torchaudio==2.10.0
torchvision==0.25.0